*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font: */
}


.main-container{
    padding: 30px;
    border-radius: 10px;
    min-height: 100vh;
    background: url(bubble4.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 10% 20% auto 10%;
    
}

.profile-bar{
    /*background-color: rgb(90, 90, 90);*/
    background-color: rgba(255, 255, 255, 0.651);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% auto;
    align-items: center;
}
.profile-bar i{
    font-size: 40px;
    padding: 0 0 0 10px;
}
.profile-bar p{
    font-size: 20px;
}

.users-area{
    margin: 20px 0 0 0;
    /*display:flex;*/
    /*width: 20vw;
    height: 100vh;*/
    background-color: rgba(109, 107, 107, 0.3);
    /*padding:5px;*/
    grid-column: 1/2;
    grid-row: 2/5;
    border-radius: 10px;
    
}
.user-chat{
    background-color: rgb(172, 80, 149);
    height: 15%;
    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% auto;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.user-chat i{
    font-size: 40px;
    padding: 0 0 0 10px;
}
.user-chat p{
    font-size: 20px;
}
.user-chat:hover{
    background-color: rgb(172, 119, 159);
    cursor: pointer;
}


.selected-user{
    background-color: rgba(255, 255, 255, 0.651);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 7% auto;
    align-items: center;
    /*border: 10px 0 0 0 solid red;*/
    margin: 0 0 0 20px;
}
.selected-user i{
    font-size: 40px;
    padding: 0 0 0 10px;
}
.selected-user p{
    font-size: 20px;
    justify-content: left;
    
}

.messages-area{
    /*height: 65vh;
    width: 60vw;*/
    /*display: flex;
    justify-content: right;
    align-items: flex-end;*/
    /*margin: 40px 20px;*/
    /*background-color: aqua;*/
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    
    
}
.message-sent{
    background-color: rgb(250, 237, 165);
    border-radius: 15px;
    padding: 5px 20px;
    box-shadow: 0px 0px 20px rgb(255, 217, 0);
    
    
}


.message-received{
    background-color: rgb(145, 234, 250);
    border-radius: 15px;
    padding: 5px 20px;
    box-shadow: 0px 0px 20px rgb(0, 217, 255);
    display: inline-block; 
}

.typing-area{
    
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    /*padding: 2px 15px;*/
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.288);
    border-radius: 15px;
    /*width: 50vw;*/
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
    margin: 0 0 0 20px;
    
}

.typing-area input{
    /*width: 1000px;*/
    /*height: 50px;*/
    color: white;
    /*padding: 0px 20px;*/
    background: transparent;
    border: none;
    width: 95%;
    font-size: 20px;
    padding: 0 0 0 20px;

}

.typing-area input::placeholder{
    color: rgb(202, 202, 202);
    border: none;
    font-size: 20px;
    
    
}

.typing-area button{
    font-size: 30px;
    background-color: rgba(1,1,1,0);
    /*box-shadow: 0px 3px 6px rgb(0, 0, 0);*/
    border: none;
    color: white;
    /*padding: 12px 16px; 
    cursor: pointer;
    margin: 10px;*/
    cursor: pointer;
    padding: 5px;
}

.typing-area button:hover{
    color: rgb(172, 80, 149);
    /*background-color: white;*/
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.intro-container{
    padding: 30px;
    min-height: 100vh;
    background: url(bubble4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.log-in{
    border: 1px solid rgba(255, 255, 255, 0.397);
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.705);
    width: 40vw;
    height: auto;
    border-radius: 20px;
    padding: 20px 80px 20px 20px;
    
}

.log-in-info{
    /*position: relative;*/
    width: 100%;
    height: 50px;
    margin: 30px 30px 70px 30px; 
}

.log-in-info p{
    color: #fff;
    margin: 20px 0;
    font-size: 20px;
}
.log-in-info input{
    border: 2px solid rgb(134, 134, 134);
    background: transparent;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 15px;
    padding: 20px;
}
.log-in-info input::placeholder{

    font-size: 15px;
    color:#aaa;
}
.log-in-info input:focus{
    background-color: rgba(172, 80, 149, 0.404);
}

.button-go{
    border-radius: 10px;
    border: none;
    color:black;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    width: 70px;
    height: 30px;
    margin: 0 0 30px 30px;
}
.button-go:hover{
    cursor: pointer;
    background-color:rgb(172, 80, 149);
    color: #fff;
}
.button-go-container{
    display: flex;
    justify-content: center;
}



