<!doctype html>
<html>

<head>
    <title>Chat</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            /*font: */
        }


        .main-container{
            padding: 30px;
            border-radius: 10px;
            min-height: 100vh;
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 35%, rgba(170,111,169,1) 100%);
            display: grid;
            grid-template-columns: 25% auto;
            grid-template-rows: 10% 20% auto 10%;
            
        }

        .profile-bar{
            background-color: rgba(255, 255, 255, 0.651);
            box-shadow: 0px 0px 10px rgb(255, 255, 255);
            border-radius: 10px;
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 20% auto;
            align-items: center;
        }
        .profile-bar i{
            font-size: 40px;
            padding: 0 0 0 10px;
        }
        .profile-bar p{
            font-size: 20px;
        }

        .users-area{
            margin: 20px 0 0 0;
            background-color: rgba(109, 107, 107, 0.3);
            grid-column: 1/2;
            grid-row: 2/5;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            overflow:auto;
            height: 520px;

        }
        .user-chat{
            background-color: rgb(172, 80, 149);
            height: 75px;
            
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 20% auto;
            align-items: center;
            border-radius: 10px;
            margin: 10px;
        }
        .user-chat i{
            font-size: 40px;
            padding: 0 0 0 10px;
            grid-column: 1/2;
        }
        .user-chat p{
            font-size: 20px;
            grid-column: 2/3;
        }
        .user-chat:hover{
            background-color: rgb(172, 119, 159);
            cursor: pointer;
        }


        .selected-user{
            background-color: rgba(255, 255, 255, 0.651);
            box-shadow: 0px 0px 10px rgb(255, 255, 255);
            border-radius: 10px;
            grid-column: 2/3;
            grid-row: 1/2;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 7% auto;
            align-items: center;
            margin: 0 0 0 20px;
        }
        .selected-user i{
            font-size: 40px;
            padding: 0 0 0 10px;
        }
        .selected-user p{
            font-size: 20px;
            justify-content: left;
            
        }

        .messages-area{
            grid-column: 2/3;
            grid-row: 2/4;
            padding: 20px;
            
        }

        .scroll{
            height: 420px;
            overflow: auto;
            display: flex;
            flex-direction: column;
        }

        .message-sent{
            background-color: rgb(250, 237, 165);
            border-radius: 15px;
            padding: 5px 20px;
            box-shadow: 0px 0px 5px rgb(255, 217, 0);
            margin: 4px;
            display: inline-block;
            align-self: flex-end;
        }


        .message-received{
            background-color: rgb(145, 234, 250);
            border-radius: 15px;
            padding: 5px 20px;
            box-shadow: 0px 0px 5px rgb(0, 217, 255);
            display: inline-block; 
            align-self: flex-start;
            margin: 4px;
        }

        .message-received, .message-sent{
            font-size: 16px;
        }

        .message-received .name{
            font-size: 14px;
            font-weight: bold;
            font-style: italic;
            margin: 0 0 10px 0;
            color:rgb(9, 87, 100);
        }

        .typing-area{
            
            backdrop-filter: blur(6px);
            border: 3px solid rgba(70, 33, 90, 0.545);
            border-radius: 15px;
            grid-column: 2/3;
            grid-row: 4/5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px 20px;
            margin: 0 0 0 20px;
        }

        .typing-area input{
            color: white;
            background: transparent;
            border: none;
            width: 95%;
            font-size: 20px;
            padding: 0 0 0 20px;
        }

        .typing-area input::placeholder{
            color: rgb(202, 202, 202);
            border: none;
            font-size: 20px;  
        }

        .typing-area button{
            font-size: 30px;
            background-color: rgba(1,1,1,0);
            border: none;
            color: white;
            cursor: pointer;
            padding: 5px;
        }

        .typing-area button:hover{
            color: rgb(70, 33, 90);
        }

        input:focus, textarea:focus, select:focus{
            outline: none;
        }
    </style>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>

    <form id="form" action="" class="main-container"> 
        <div class="profile-bar">
            <i class='bx bxs-user-circle' style='color:#ffffff'  ></i>
            <p>your username</p>
        </div>
        <div class="users-area">
            <div class="user-chat">
                <i class='bx bxs-user-circle' style='color:#ffffff'  ></i>
                <p>General chat</p>
            </div>
        </div>
        <div class="selected-user">
            <i class='bx bxs-user-circle' style='color:#ffffff'  ></i>
            <p>General Chat</p>
        </div>
        <div class="messages-area" id="messages">
            <div class="scroll">

            </div>
        </div>
            
        
        <div class="typing-area">
            <input id="input" type="text" placeholder="Type something...">
            <button class="send-message"> <i class='bx bxs-send'></i> </button>
        </div>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>